@font-face { 
	font-family: 'BMEULJIRO'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}

header{
	font-family:'BMEULJIRO';
	display: inline-block;
}
header h1{
	font-size:65px;
}

header h3{
	font-size:35px;
}

footer{
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}
footer h5 a{
	text-decoration:none;	
}

.main{
	text-align:center;
}

.btn btn-primary btn-lg:hover{
	background-color:#fff;
}